body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* {
	text-decoration: none;
	list-style: none;
}
ul {
	padding: 0;
	margin: 0;
}
.section-title {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 40px 0;
}

.section-title {
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 1px; 
}

.bayana1 {
	font-weight: 400;
	font-size: 48px;
	display: flex;
	align-items: center;
	color: #22bbc3;
}

.bayana2 {
	color: white;
	font-weight: 400;
	font-size: 36px;
	margin-top: 20px;
}


.container {
	max-width: 85%;
	margin: 0 auto;
	height: 100%;
}
.logo img {
	width: 170px;
}


.header-z{
	
	padding: 10px 0;
	font-size: 20px;
}
.header-z .texts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	flex-wrap: wrap;
	gap: 10px;
}
.header-z .booxe {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 550px;
	color: white;
	flex-wrap: wrap;
	gap: 10px;
}
.header-z .our_power {
	color: #ffb700;
}
.header-z .booxe a {
	color: #ffb700;
}
header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	flex-wrap: wrap;
}
header nav .menu {
	display: flex;
	width: 544px;
	justify-content: space-between;
	align-items: center;
}
header nav .menu a {
	color: black;
	font-weight: 500;
}
header nav .price {
	color: white;
	background-color: #65256f;
	padding: 10px 20px;
	border-radius: 5px;
}
.menu_withot_burger{
    display: flex;
    justify-content: space-evenly;
    list-style:none;
    background-color: #808080;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0;
    transform: 0.4s;
}

.menu-items{
    color: #fff;
}
.menu-items:hover{
    background-color: #0088A2;
  }
#toggle{
    opacity: 0;
    }
    .btn{
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 1;
       
    }
    .btn span,
    .btn span::before,
    .btn span::after{
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: black;
       transition: 0.5s;
    }
    .btn span::before{
        content: '';
        top:-8px;
    }
    .btn span::after{
        content: '';
        top:8px;
    }
    .menu{
        position: fixed;
        visibility: hidden;
        top:0;
        left:-100%;
        width: 300px;
        height: 100%;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background: #22bbc3;
        box-shadow: 1px 0px 5px black;
        transition: 0.5s ease-in-out;
    }
    .menu-item{
        display: block;
        padding: 15px 20px;
        color: white;
        font-size: 25px;
        font-weight: 500;
        text-decoration: none;
        transition: 0.4s ease;
    }
    .menu-item:hover{
        background-color: #fff;
        color: #000;
    
    }
    #toggle:checked~.btn span {
        transform: rotate(45deg);
    }
    #toggle:checked~.btn span::before {
        transform: rotate(-90deg);
        top: 0;
    }
    #toggle:checked~.btn span::after {
        transform: rotate(0deg);
        top: 0;
    }
    #toggle:checked~.menu {
        visibility: visible;
        left: 0;
    }
     @media(min-width:767px) {
        .burger-menu{
            display: none;
        }
     }   
     @media(max-width:767px) {
        .menu_withot_burger{
            display: none;
        }
     }   
.header_banner {
	background: url(../images/cu.1.png);
	width: 100%;
	height: 590px;
    margin-top: 45px;
}
.header_banner .container {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	align-items: center;
	padding: 100px 0;
}
.header_banner .texts {
	width: 50%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
}
.header_banner .line {
	display: block;
	width: 52px;
	height: 4px;
	background-color: white;
}
.header_banner .bg_shadow {
	background-color: rgba(0, 0, 0, 0.524);
	height: 100%;
}
.header_banner .basic_h2 {
	color: white;
	font-size: 64px;
}
.header_banner .texts a {
	padding: 20px 40px;
	color: white;
	border-radius: 5px;
	border: #ffc957 solid;
	margin-top: 20px;
}
.header_banner .text a:hover{
	background: #ffc957;
}
.header_banner .social_medias {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


.our_services .blocks {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
}
.our_services .block {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 50px 0;
	flex: 1 calc(25% - 20px);
}
.our_services .block h4 {
	font-size: 18px;
	font-weight: 400;
	margin: 20px 0;
	width: 40%;
	text-align: center;
}
.our_services .block p {
	font-size: 16px;
	color: rgb(94, 94, 94);
	width: 70%;
	text-align: center;
	margin-bottom: 20px;
}
.our_services .block a {
	margin-top: 20px;
}


.our_works .blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}
.our_works .blocks .block {
	min-width: 200px;
	flex: 1 1 calc(33.3% - 20px); 
	background-color: #f5f5f5f5;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	background-image: url(../images/originaj.jpg);
	background-size: 100% 100%;
	min-height: 300px;
}
.our_works .blocks .bg_black {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.375);
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.our_works .blocks .block img {
	width: 100%;
	display: block;
	height: 100%;
}
.our_works .blocks .block p {
	font-size: 18px;
	text-align: center;
	margin: 10px 0;
	color: rgb(255, 255, 255);
	position: relative;
	padding: 10px;
	z-index: 1;
}
.our_works .btn {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 40px 0;
}

.production .blocks {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.production .blocks .block {
	min-width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 5px;
	overflow: hidden;
	background: url(../images/fio.png) center / cover no-repeat;
	flex: 1 calc(33.3% - 20px);
}

.price .blocks {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.price .blocks .block {
	flex: 1 1 calc(25% - 20px);
	min-width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 15px;
	box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}
.price .blocks .block img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}
.price .blocks .block p {
	font-weight: 400;
	font-size: 16px;
	color: rgb(90, 88, 88);
	margin: 10px 0;
}
.price .blocks .block span {
	font-size: 18px;
	color: rgb(76, 31, 140);
	font-weight: 700;
}
.price .btn {
	width: 100%;
	display: flex;
	margin: 20px 0;
	justify-content: center;
}
.price .btn a {
	padding: 20px 100px;
	background-color: rgb(101, 37, 111);
	color: white;
	border-radius: 5px;
	text-align: center;
}


.our_clients .blocks {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}
.our_clients .blocks .block {
	flex: 1 calc(16.66% - 20px);
	min-width: 130px;
	height: auto;
}


.our_teams .blocks {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}
.our_teams .block {
	flex: 1 calc(33% - 20px);
	min-width: 200px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.298);
	border-radius: 5px;
}
.our_teams .block p {
	font-size: 36px;
	text-align: left;
	margin: 20px 0;
	font-weight: 400;
}
.our_teams .block span {
	color: rgb(111, 108, 108);
	font-size: 20px;
	font-weight: 400;
}
.our_teams .block img {
	width: 100%;
	border-radius: 5px;
}

.form_send .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 80px 0;
}
.form_send .form h4 {
	font-size: 32px;
	font-weight: 600;
	color: rgb(52, 52, 52);
}
.form_send .form p {
	font-size: 18px;
	color: rgb(88, 88, 88);
	font-weight: 400;
	margin: 30px 0;
}
.form_send .form input {
	flex: 1 calc(33% - 20px);
	min-width: 300px;
	background-color: rgb(236, 232, 232);
	padding: 20px;
}
.form_send .form form {
	width: 85%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 40px 0;
	justify-content: center;
	gap: 20px;
}
.form_send .form input::placeholder {
	padding: 20px 0;
	font-size: 18px;
	font-weight: 400;
	border-radius: 5px;
	color: rgb(115, 114, 114);
}
.form_send .form .submit {
	background-color: #65256f;
	color: white;
}
.block-she{
    display: flex;
    width: 85%;
    margin: 50px auto;
    gap: 20px; 
    flex-direction: column;
      text-align: center;
  }
  .block-she h3{
    font-size: 35px;
    font-weight: 400;
    color: #27c2b2;
  }
  .block-she p{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
  }
  .block-sca{
    margin: 50px auto;
    gap: 20px; 
    text-align: center;
  }
  .block-sca h4{
    font-size: 35px;
    font-weight: 400;
    color: #27c2b2;
  }
  .block-sca img{
   width: 230px;
  }

footer {
	background-color: rgb(82 187 210);
	color: white;
	padding: 100px 0;
}
footer h5 {
	font-size: 16px;
	font-weight: 600;
	margin: 20px 0;
}

footer p {
	color: rgb(188, 187, 187) !important;
	font-size: 14px !important;
	width: 252px !important;
	line-height: 20px !important;
	text-align: left !important;
}
footer a {
	color: rgb(188, 187, 187);
	display: block;
	margin-top: 10px;
}
footer .footer_container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}
footer .about_company {
	flex: 1 calc(30%);
}
footer .menu {
	display: flex;
	gap: 80px;
	flex-wrap: wrap;
}

footer .menu .address {
	width: 200px;
	display: block;
}


.grid-container {
	display: grid;
	grid-template-areas:
		'item1 item2 item3'
		'item4 item5 item3'
		'item6 item6 item7';
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 10px;
	padding: 10px;
}
.services_page .item {
}

.services_page .bg_shadow {
	background-color: #65256f65;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 20px;
}

.item1 {
	grid-area: item1;
}
.item2 {
	grid-area: item2;
}
.item3 {
	grid-area: item3;
}
.item4 {
	grid-area: item4;
}
.item5 {
	grid-area: item5;
}
.item6 {
	grid-area: item6;
}
.item7 {
	grid-area: item7;
}

.our_advantages .blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
	margin: 30px 0;
}
.our_advantages .blocks .block {
	flex: 1 calc(25% - 30px);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 200px;
}
.our_advantages .blocks .block p {
	font-size: 20px;
	font-weight: 400;
	color: black;
	text-align: center;
	margin: 20px 0;
}


.image_section {
	margin: 50px 0;
}
.image_section img {
	width: 100%;
}
.about_company p {
	text-align: center;
	font-size: 18px;
	color: rgb(76, 76, 84);
	line-height: 30px;
}

.what_do_we_do .blocks {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
	margin: 80px 0;
}
.what_do_we_do .blocks .block {
	flex: 1 calc(25% - 20px);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 200px;
}
.what_do_we_do .block h4 {
	font-size: 18px;
	font-weight: 400;
	width: 40%;
	text-align: center;
	margin: 20px 0;
}

.our_history .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 40px;
	padding: 80px 0;
}
.our_history h2 {
	color: white;
	font-size: 36px;
	font-weight: 400;
}
.our_history .bg_shadow {
	background-color: rgba(0, 0, 0, 0.524);
	height: 100%;
}
.our_history .blocks {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.our_history .block {
	flex: 1 calc(16.6% - 20px);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.our_history .number {
	border: 7px solid #ffb700;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 24px;
}
.our_history .block p {
	color: white;
	text-align: center;
	line-height: 20px;
}
.our_history .buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.our_history .buttons button {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.company_page .block {
	flex: 1 1;
}

.contacts {
	padding: 50px 0;
}
.contacts .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contacts .contact {
	flex: 1 calc(30%);
}
.contacts .contact .blocks {
	display: flex;
	flex-direction: column;
	padding: 50px;
	height: 100%;
}

.contacts .contact .block {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 30px;
}
.contacts .contact .block h4 {
	position: relative;
}

.contacts .contact h2 {
	font-size: 36px;
	font-weight: 500;
	columns: black;
}
.contacts .contact h4 {
	color: rgb(164, 164, 164);
	font-size: 24px;
}
.contacts .contact p {
	font-size: 14px;
	color: black;
}
.contacts .map {
	flex: 1 calc(70%);
}
.contacts .map iframe {
	width: 100%;
}

.portfolio .blocks {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	padding-bottom: 50px;
}
.portfolio .blocks .block {
	min-width: 200px;
	flex: 1 1 calc(50% - 20px);
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.portfolio .blocks .block p {
	color: white;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}
.portfolio .blocks .block .have {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}
.portfolio .blocks .bg_shadow {
	display: flex;
	background-color: rgba(0, 0, 0, 0.422);
	width: 100%;
	height: 100%;
	align-items: flex-end;
	justify-content: center;
}
.portfolio .blocks .have {
	background: none !important;
}

.production .blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}
.production .blocks .block {
	flex: 1 calc(33.33% - 20px);
	background: url(../images/cu.1.png) center / cover no-repeat;
}
.production .img {
	background: url(../images/cu.1.png);
}

.equipment .text p {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	line-height: 20px;
}
.equipment .img {
	height: 326px;
	display: flex;
	background: url(../images/cu.1.png) center / cover no-repeat;
	margin: 50px 0;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}
.equipment .img h4 {
	font-size: 24px;
	font-weight: 400;
	color: white;
	margin-bottom: 20px;
}
.equipment .img .btn {
	background-color: white;
	padding: 20px;
	border-radius: 50%;
	cursor: pointer;
}
.equipment .img .left {
	position: absolute;
	left: 10px;
	top: 50%;
}
.equipment .img .left::before {
	content: '';
	display: flex;
	width: 15px;
	height: 2px;
	background-color: black;
	transform: rotate(309deg);
	position: absolute;
	left: 10px;
	top: 15px;
}
.equipment .img .left::after {
	content: '';
	display: flex;
	width: 15px;
	height: 2px;
	background-color: black;
	transform: rotate(45deg);
	position: absolute;
	left: 10px;
	top: 25px;
}
.equipment .img .right {
	position: absolute;
	right: 10px;
	top: 50%;
}
.equipment .img .right::before {
	content: '';
	display: flex;
	width: 15px;
	height: 2px;
	background-color: black;
	transform: rotate(218deg);
	position: absolute;
	left: 15px;
	top: 15px;
}
.equipment .img .right::after {
	content: '';
	display: flex;
	width: 15px;
	height: 2px;
	background-color: black;
	transform: rotate(315deg);
	position: absolute;
	left: 15px;
	top: 23px;
}


@media (max-width: 768px) {
	.grid-container {
		grid-template-areas:
			'item1'
			'item2'
			'item3'
			'item4'
			'item5'
			'item6'
			'item7';
		grid-template-columns: 1fr;
	}
	.header_banner .basic_h2 {
		font-size: 32px !important;
	}
	.basic_h3 {
		font-size: 25px !important;
	}
	.header_banner .texts {
		gap: 20px;
		width: 100%;
	}
	.header_banner .container {
		padding: 40px 0;
		flex-direction: column;
	}
	.header_banner .social_medias {
		flex-direction: row;
		width: 200px;
		justify-content: space-between;
		height: 100px;
		align-items: center;
	}
	.header_banner .texts a {
		width: 100%;
		text-align: center;
	}
}


footer {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
}

.socials img {
    width: 24px;
    margin: 0 10px;
}

.contact-info {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contact-info div {
    margin: 0 15px;
}


@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        padding: 0;
    }
    
    header nav li {
        margin: 5px 0;
    }
    
    .main-content {
        padding-top: 50px; 
    }
}